@model Aviask.Models.Question

@{
    ViewData["Title"] = "Question " + Model.Title;
}

<div class="details-container">

    <div>
        <h1>Question #@Model.Id : <span class="text-decoration-underline">@Model.Title</span></h1>
        <hr />
        <a asp-action="Index" asp-controller="Questions" 
            asp-route-category="@Model.Category" 
            asp-route-subcategory="@Model.SubCategory"
           class="link-dark">Category : @Model.Category - @Model.SubCategory</a>
        <cite style="display: block;" class="text-muted">Source: @(Model.Source ?? "Unknown")</cite>

        <h3 class="text-center">@Model.Description</h3>

        <br />
    
        <div class="answer-container">
            @{
                var answersEnumerator = Model.QuestionAnswers.GetAnswers();

                //  Shuffles answers array
                var rnd = new Random();
                var answers = answersEnumerator.OrderBy(x => rnd.Next()).ToArray();
            }

            @foreach(var answer in answers)
            {
                <button class="qst-answer">
                    @answer
                    <span class="qst-explication"></span>
                </button>
            }

            @if (Model.IllustrationPath != null)
            {
                <span class="lead text-center text-decoration-underline">Question's illustration (click to expand)</span>

                <a href="/@Model.IllustrationPath" target="_blank" id="qst-illustration" class="text-center">
                    <img src="/@Model.IllustrationPath" alt="Question's illustration" />
                </a>
            }
        </div>
    
    </div>

    <div class="question-actions">
        <a asp-action="Index" role="button" class="button button-primary">
            <i class="fa fa-home"></i>
            List of questions
         </a>
        <a asp-action="NextDetails" asp-route-id="@Model.Id" role="button" class="button button-primary">
            <i class="fa fa-arrow-right"></i>
            Next
        </a>
    </div>

</div>


@section Scripts {
    <script>

        let answers = document.getElementsByClassName("qst-answer");
        let answered = false;

        for (let i = 0; i < answers.length; i++){
            answers[i].addEventListener('click', async function() {
                if (answered) return;

                let selectedAnswer = answers[i].textContent.trim();

                let encodedAnswer = encodeURIComponent(selectedAnswer)
                let response = await fetch(`/Questions/CheckAnswer?Id=@Model.Id&check=${encodedAnswer}`);

                if (!response.ok) return;

                let content = await response.json();
                
                if (content.isCorrect){
                    answers[i].style.animation = "CorrectAnimation 0.35s forwards";
                } else {
                    answers[i].style.animation = "WrongAnimation 0.35s forwards";
                }

                answers[i].style.color = "#e6e6e6";
                answers[i].children[0].textContent = content.explication;

                answered = true;
            });
        }
       
    </script>
}