@model Aviask.Models.Question

@{
    ViewData["Title"] = "Question " + Model.Title;
}

<div class="flex flex-col gap-6 mt-6">

    <div>
        <h1 class="flex justify-between items-baseline">
            <!-- Left -->
            <span class="text-4xl mb-4 font-semibold">
                #@Model.Id : @Model.Title
            </span>
            <!-- Right -->
            <span class="text-m font-semibold">
                by <span class="underline">@Model.Publisher.UserName</span>
            </span>
        </h1>

        <hr class="border-[#c7c8c9] border-t border-b my-3" />

        <a asp-action="Index" asp-controller="Questions"
            asp-route-category="@Model.Category"
            asp-route-subcategory="@Model.SubCategory"
           class="underline">Category : @Model.Category - @Model.SubCategory</a>

        <h3 class="text-center text-3xl font-semibold">@Model.Description</h3>

        <br />

        <div class="flex flex-col gap-4">
            @{
                var answersEnumerator = Model.QuestionAnswers.GetAnswers();

                //  Shuffles answers array
                var rnd = new Random();
                var answers = answersEnumerator.OrderBy(x => rnd.Next()).ToArray();
            }

            @foreach(var answer in answers)
            {
                <button class="qst-answer 
                               w-full px-8 py-4 flex justify-between
                               border-2 border-[grey] border-solid rounded-[4px]
                               hover:scale-[1.05] transition ease duration-150">
                    @answer
                    <span class="qst-explication"></span>
                </button>
            }

            @if (Model.IllustrationPath != null)
            {
                <span class="text-xl font-light leading-relaxed text-center underline">Question's illustration (click to expand)</span>

                <a href="/@Model.IllustrationPath" target="_blank" class="text-center flex w-full justify-center">
                    <img src="/@Model.IllustrationPath" alt="Question's illustration" class="max-w-[50%] max-h-[550px] outline-dashed outline-[#666] outline-[3px] outline-offset-[4px] rounded-md" />
                </a>
            }
        </div>

    </div>

    <div>
        <cite class="block text-[#666]">Source: @(Model.Source ?? "Unknown")</cite>
    </div>

    <div class="flex gap-4 justify-center">
        <a asp-action="Index" role="button" class="button button-primary">
            <i class="fa fa-home"></i>
            List of questions
         </a>
        <a asp-action="NextDetails" asp-route-id="@Model.Id" role="button" class="button button-primary">
            <i class="fa fa-arrow-right"></i>
            Next
        </a>
    </div>

</div>


@section Scripts {
    <script>

        let answers = document.getElementsByClassName("qst-answer");
        let answered = false;

        for (let i = 0; i < answers.length; i++){
            answers[i].addEventListener('click', async function() {
                if (answered) return;

                let selectedAnswer = answers[i].textContent.trim();

                let encodedAnswer = encodeURIComponent(selectedAnswer)
                let response = await fetch(`/Questions/CheckAnswer?Id=@Model.Id&check=${encodedAnswer}`);

                if (!response.ok) return;

                let content = await response.json();

                @* These animations can be found in site.css *@
                if (content.isCorrect){
                    answers[i].style.animation = "CorrectAnimation 0.35s forwards";
                } else {
                    answers[i].style.animation = "WrongAnimation 0.35s forwards";
                }

                answers[i].style.color = "#e6e6e6";
                answers[i].children[0].textContent = content.explication;

                answered = true;
            });
        }

    </script>
}
