@model IEnumerable<Aviask.Models.Question>

@{
    if (ViewData["Page"] is null)
    {
        ViewData["Page"] = 1;
    }

    ViewData["Title"] = $"List of questions ({ViewData["Page"]})";
}

<main class="page-container">
    <h1>List of questions (@ViewData["Page"])</h1>

    <section class="top-main">
        @if (User.IsInRole("admin") || User.IsInRole("manager"))
        {
            <a role="button" class="button button-primary" asp-action="Create">
                <i class="fa fa-plus"></i>
                Create a question
            </a>
        }

        <form id="filter-container" action="@Url.Action("Index", "Questions")" method="get" class="form-inline">
            <label for="category" class="sr-only">Category</label>
            <select id="category" name="category" class="form-control" required>
                <option disabled selected>No category</option>
                @foreach (var cat in Enum.GetValues(typeof(MainCategoryType)))
                {
                    <option value="@cat.ToString()">@cat.ToString()</option>
                }
            </select>

            <label for="subcategory" class="sr-only">Sub-category</label>
            <select id="subcategory" name="subcategory" class="form-control" required>
                <option disabled selected>No sub-category</option>
                @foreach (var cat in Enum.GetValues(typeof(SubCategoriesType)))
                {
                    <option value="@cat.ToString()">@cat.ToString()</option>
                }
            </select>

            <a role="button" asp-action="Index" asp-route-page="@((int)ViewData["Page"]-1)" class="button button-secondary">Previous page</a>
            <a role="button" asp-action="Index" asp-route-page="@((int)ViewData["Page"]+1)" class="button button-secondary">Next page</a>

            <button type="submit" class="button button-primary mb-2">Search</button>

        </form>
    </section>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategory)
                </th>
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Visibility)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuestionAnswers.CorrectAnswer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuestionAnswers.Explications)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory)
                    </td>
                    @if (User.IsInRole("admin") || User.IsInRole("manager"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Visibility)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionAnswers.CorrectAnswer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionAnswers.Explications)
                        </td>
                    }
                    <td style="display: flex; gap: 0.4em; align-items: baseline; flex-direction: row-reverse;">
                        <a asp-action="Details" asp-route-id="@item.Id" class="button button-primary">
                            Answer
                        </a> 
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="button button-secondary">
                                Edit
                            </a>
                        }
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="button button-important">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
