@model IEnumerable<Aviask.Models.Question>

@{
    if (ViewData["Page"] is null)
    {
        ViewData["Page"] = 1;
    }

    ViewData["Title"] = $"List of questions [{ViewData["Page"]}]";

    int resultCount = Model.Count();
    string resultPhrase = resultCount < 2 ? $"{resultCount} result" : $"{resultCount} results   ";
}

<main class="flex flex-col gap-2
             mr-auto ml-auto mt-6">

    <h1 class="text-4xl mb-4 font-normal">List of questions [@ViewData["Page"]] - @resultPhrase</h1>
 
    <section class="flex flex-col items-end gap-1">
        @if (User.IsInRole("admin") || User.IsInRole("manager"))
        {
            <a role="button" class="button button-primary" asp-action="Create">
                <i class="fa fa-plus"></i>
                Create a question
            </a>
        }

        <form action="@Url.Action("Index", "Questions")" method="get" class="self-stretch flex items-baseline justify-around gap-4">
            <label for="category" class="sr-only">Category</label>
            <select class="w-full px-3 py-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-md border-b-2 border-b-[rgba(0,0,0,0.25)] appearance-none" name="category" required>
                @{
                    var category = ViewData["Category"] as MainCategoryType?;

                    if (category == null)
                    {
                        <option disabled selected>No category</option>
                    } else
                    {
                        <option>No category</option>
                    }
                }
                
                @foreach (MainCategoryType cat in Enum.GetValues(typeof(MainCategoryType)))
                {
                    if (category == cat)
                    {
                        <option value="@cat.ToString()" selected>@cat.ToString()</option>
                    } else
                    {
                        <option value="@cat.ToString()">@cat.ToString()</option>
                    }
                }
            </select>

            <label for="subcategory" class="sr-only">Sub-category</label>
            <select class="w-full px-3 py-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-md border-b-2 border-b-[rgba(0,0,0,0.25)] appearance-none" name="subcategory" required>
                @{
                    var subcategory = ViewData["Sub-category"] as SubCategoriesType?;

                    if (subcategory == null)
                    {
                        <option disabled selected>No sub-category</option>
                    }
                    else
                    {
                        <option>No sub-category</option>
                    }
                }

                @foreach (SubCategoriesType subcat in Enum.GetValues(typeof(SubCategoriesType)))
                {
                    if (subcat == subcategory)
                    {
                        <option value="@subcat.ToString()" selected>@subcat.ToString()</option>
                    }else
                    {
                        <option value="@subcat.ToString()">@subcat.ToString()</option>
                    }
                }
            </select>

            <a role="button" asp-action="Index" asp-route-page="@((int)ViewData["Page"]-1)" class="button button-secondary">Previous page</a>
            <a role="button" asp-action="Index" asp-route-page="@((int)ViewData["Page"]+1)" class="button button-secondary">Next page</a>

            <button class="button button-primary mb-2">Search</button>

        </form>
    </section>

    <table>
        <thead class="border-b-1 border-b border-black border-spacing-y-4">
            <tr class="[&>*]:p-3">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubCategory)
                </th>
                @if (User.IsInRole("admin") || User.IsInRole("manager"))
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Visibility)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuestionAnswers.CorrectAnswer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuestionAnswers.Explications)
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="[&>*]:p-1 [&>*]:border-b">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategory)
                    </td>
                    @if (User.IsInRole("admin") || User.IsInRole("manager"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Visibility)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionAnswers.CorrectAnswer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionAnswers.Explications)
                        </td>
                    }
                    <td class="flex flex-row-reverse items-baseline gap-1">
                        <a asp-action="Details" asp-route-id="@item.Id" class="button button-primary">
                            Answer
                        </a> 
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" class="button button-secondary">
                                Edit
                            </a>
                        }
                        @if (User.IsInRole("admin") || User.IsInRole("manager"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="button button-important">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
