@using Aviask.Models.ResponseModels;
@using System.Collections.Generic;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div>
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="flex flex-col gap-3">
            <header class="text-center mt-4 mb-2">
                <h1 class="text-7xl mb-4 font-light">Welcome to Aviask</h1>
                <h4 class="text-2xl">
                    Questions available : <b>@ViewData["QuestionCount"]</b>
                </h4>
            </header>

            <hr class="border-[#c7c8c9] border-t border-b my-3" />
            <br />

            <section>
                
                <p class="text-3xl mb-7 text-center">
                    Aviask is your ultimate destination for aviation related exam preparation.
                </p>

                <p class="text-xl mt-4">
                    Whether you're an aspiring pilot looking to pass your exam, or a seasoned aviator in need
                    of a refresher, our comprehesenive question bank has you covered.
                </p>

                <p class="text-xl mt-4">
                    Aviask provides a user-friendly interface, so you can only concentrate on the questions.
                    <br/>
                    Simulate a mock exam, and customize everything you need : timer, number of questions, adressed themes...
                </p>

                <p class="text-2xl mt-9 text-center">
                    Don't wait and 
                    <a class="text-3xl text-blue-600 underline" asp-controller="Identity" asp-action="Register">register</a>
                        to have a complete access to our website !
                </p>

                <div class="flex gap-4 justify-center mt-4">
                    <a role="button" class="button button-primary" asp-controller="Identity" asp-action="Register">Register</a>
                    <a role="button" class="button button-secondary" asp-controller="Identity" asp-action="Login">Log in</a>
                </div>
            </section>
        </div>
    } else
    {
        var stats = ViewData["Statistics"] as UserStatisticsResponse;
        var favoriteCategoriesEmojis = new string[] { "🔥", "🥈", "🥉" };

        <div class="flex flex-col gap-1">
            <header class="text-center mt-2">
                <h1 class="text-7xl font-light mb-8">Your dashboard</h1>
                <a role="button" asp-controller="Questions" class="button button-primary" asp-action="Index">Browse questions</a>               
            </header>

            <br/>
                
            <div class="flex justify-around flex-wrap gap-3">
                <section class="bg-[rgb(251,251,251)] rounded-lg shadow-mb px-7 py-6 border border-gray-200 flex flex-col gap-4">
                    <div>
                        <h5 class="text-xl font-semibold mb-1">Your activity</h5>
                        <h6 class="text-gray-500 font-semibold">Your recent activity on Aviask</h6>
                    </div>

                    <div class="flex flex-col gap-2 mb-2">
                        <p>
                            You answered <b>@stats.LastWeekRecordsCount</b> question(s) the <u>last 7 days</u>.
                        </p>
                        
                        <p>
                            Lifetime answer correctness : <b>@Math.Round(stats.RatioCorrectness * 100f)%</b>
                            [ <span style="color: green;">@stats.CorrectLifetimeCount</span> / <span style="color: red;">@stats.FailLifetimeCount</span> ]
                         </p>
                    </div>
                    
                    <div class="flex justify-between gap-2">
                        <a  asp-controller="Questions" asp-action="Index" class="button button-primary">Browse some questions</a>
                        <a asp-controller="AnswerRecords" asp-action="Index" class="button button-secondary">Answers history</a>
                    </div>

                </section>

                <section class="bg-[rgb(251,251,251)] rounded-lg shadow-mb px-7 py-6 border border-gray-200 flex flex-col gap-2 justify-between">
                    <div>
                        <h5 class="text-xl font-semibold mb-1">Favorite themes</h5>
                        <h6 class="text-gray-500 font-semibold">The categories you answered the most</h6>

                        @if (stats.MostAnsweredCategories.Count == 0)
                        {
                            <b>😴 You didn't answer any question for the moment.</b>
                        } else
                        {
                            <ul class="mt-4">
                                @* Iterates over user's most answered categories, displaying a link to it and the number of answers *@
                                @for (var i = 0; i < stats.MostAnsweredCategories.Count; i++)
                                {
                                    var cat = stats.MostAnsweredCategories[i];

                                    <li class="flex justify-between">
                                        @* Category name as a link *@
                                        <a class="underline" asp-controller="Questions" asp-action="Index" asp-route-subcategory="@cat.SubCategoryName">
                                            @cat.SubCategoryName
                                        </a>

                                        @* Category answer *@
                                        <span class="font-bold">
                                            @favoriteCategoriesEmojis[i] @cat.AnswerCount
                                        </span>
                                    </li>
                                }
                            </ul>
                        }
                    </div>

                    @if (stats.MostCorrectCategory != null)
                    {
                        <span>
                            Category with the most correct answers : <u>@stats.MostCorrectCategory.SubCategoryName</u>
                            (<b>@stats.MostCorrectCategory.AnswerCount</b> correct answers).
                        </span>
                    }
                </section>
            </div>
        </div>
       
    }
</div>
