@using Microsoft.AspNetCore.Identity;
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "User managment";
}


<h1 class="text-4xl font-semibold mt-4 mb-6">List of registered users</h1>

<table class="mx-auto">
    <thead class="border-b-1 border-b border-black border-spacing-y-4">
        <tr class="[&>*]:p-3 [&>*]:text-xl [&>*]:font-medium">
            <th>
                @Html.DisplayNameFor(m => m.Id)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Email)
            </th>
            <th>
                Roles
            </th>
            <th>
                <!--  Col of buttons  -->
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr class="[&>*]:p-2 border-b">
                <td>
                    @Html.DisplayFor(m => user.Id)
                </td>
                <td>
                    @Html.DisplayFor(m => user.UserName)
                </td>
                <td>
                    @Html.DisplayFor(m => user.Email)
                </td>
                <td>
                    @{
                        <ul>
                            @foreach (var role in user.Roles)
                            {
                                <li class="underline">@role</li>
                            }
                        </ul>
                    }
                </td>
                <td class="flex gap-1">
                    <a asp-action="EditUser" asp-controller="AviaskUsers" class="button button-secondary" asp-route-userid="@user.Id">Edit</a>
                    <form asp-action="DeleteUser" asp-route-userid="@user.Id">
                        <button class="button button-important">
                            <i class="fa fa-trash"></i>
                            Delete user
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
