@model IEnumerable<Aviask.Models.AnswerRecords>

@{
    ViewData["Title"] = "Your answers records";
}

<main class="flex flex-col gap-4">
    <h1 class="text-4xl font-semibold mt-4">Your answers</h1>

    <hr class="border-[#c7c8c9] border-t border-b my-3"  />

    <table class="border-separate border-spacing-y-2 ">
        <thead>
            <tr class="[&>*]:p-3 [&>*]:border-b [&>*]:border-black">
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionId)
                </th>
                <th>
                    Categories
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Answered)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrectAnswer)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string bgColor = item.CorrectAnswer ? "rgba(0, 255, 0, 0.15)" : "rgba(255, 0, 0, 0.15)";

                <tr style="background: @bgColor" class="[&>*]:p-2 [&>*]:border-b">
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>   
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Category) - @Html.DisplayFor(modelItem => item.Question.SubCategory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Answered)
                    </td>
                    <td>
                        @{
                            if (item.CorrectAnswer)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        }
                    </td>
                    <td>
                        <a role="button" asp-controller="Questions" asp-action="Details" asp-route-id="@item.QuestionId"
                           class="underline text-blue-500">Question</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

